<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxkj.jyb"
    android:versionCode="1"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:name="com.yxkj.jyb.MyBaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.yxkj.jyb.MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
		<activity
            android:name="com.yxkj.jyb.QuestionView"
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:windowSoftInputMode="stateHidden" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.Page1_searchview"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.Page1_searchresult"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Page1_searchsend"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.LoadingBox"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.UserLogin"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.UserRegister"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.UserInfo"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.AboutApp"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
		<activity
            android:name="com.yxkj.jyb.Page_WebView"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.version.VersionUpdateActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
         <activity
            android:name="com.yxkj.jyb.OtherUserInfo"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
        <activity
            android:name="com.yxkj.jyb.JYFUbbView"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity> 
		<activity
            android:name="com.yxkj.jyb.ModifyUserInfo"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.MyThreads"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.MyNotification"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.yxkj.jyb.VideoStudyList"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
		<activity
            android:name="com.yxkj.jyb.PhotoCropper"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>	
        <activity
            android:name="com.yxkj.jyb.PhotoViewer"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>	
        <activity
            android:name="com.yxkj.jyb.VideoPlayer"
            android:screenOrientation="landscape" 
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
        </activity>	
        <activity
            android:name="com.yxkj.jyb.CodeSystem_FraAct"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.yxkj.jyb.CodeSystem_sx_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.bjb_SubjectData_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.bjb_ThreadData_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.bjb_PostData_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.yxkj.jyb.bjb_MyPostData_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.yxkj.jyb.ImageCroper"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.CameraCroperAct"
            android:screenOrientation="landscape" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.bjb_MyPostDataEdit_Act"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.bjb_MyCreateGroup_Act"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.CodeSystem_editor_Act"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Help_Act"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Number_Act_Main"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Number_Act_p1"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Number_Act_p2"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Number_Act_p3"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Score_Act"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Words_Act_Main"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Words_Act_p1"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Words_Act_p2"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.yxkj.jyb.Mem_Words_Act_p3"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        
        
        <!--  WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS -->
        <!-- WNS service,注意进程名为  :wns ，其它组件请不要使用这个进程名 -->
        <service
                android:name="com.tencent.wns.service.WnsMain"
                android:exported="false"
                android:process=":wns">
            <intent-filter>
                <action android:name="com.tencent.wns.service.WnsMain"/>
            </intent-filter>
        </service>
        
        <!-- 注册WNS心跳接收器 -->
        <receiver
                android:name="com.tencent.base.os.clock.AlarmClockReceiver"
                android:exported="false"
                android:process=":wns">
            <intent-filter>
                <action android:name="wns.heartbeat"/>
            </intent-filter>
        </receiver>
        <!-- 注册WNS push接收器,注意 action需要修改为  wns.push.to.<package name> -->
        <receiver
                android:name="com.example.cloudwns.push.MyPushReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="wns.push.to.com.yxkj.jyb"/>
            </intent-filter>
        </receiver>
        <!-- WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS WNS -->
        
		
		<!-- 【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】 -->
        <!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
        <activity
            android:name="com.tencent.android.tpush.XGPushActivity"
            android:theme="@android:style/Theme.Translucent"
            android:exported="false" >
            <intent-filter>
                 <!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
                <action android:name="" />
            </intent-filter>
        </activity>	
        <!-- 【必须】 信鸽receiver广播接收 -->
        <receiver
            android:name="com.tencent.android.tpush.XGPushReceiver"
            android:process=":xg_service_v2" >
            <intent-filter android:priority="0x7fffffff" >

                <!-- 【必须】 信鸽SDK的内部广播 -->
                <action android:name="com.tencent.android.tpush.action.SDK" />
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
                <!-- 【必须】 系统广播：开屏和网络切换 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
            <!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
            <intent-filter android:priority="0x7fffffff" >
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <action android:name="android.intent.action.MEDIA_REMOVED" />
                <action android:name="android.intent.action.MEDIA_CHECKING" />
                <action android:name="android.intent.action.MEDIA_EJECT" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <!-- 【必须】 信鸽service -->
        <service
            android:name="com.tencent.android.tpush.service.XGPushService"
            android:exported="true"
            android:persistent="true"
            android:process=":xg_service_v2" />

        <!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
        <service
            android:name="com.tencent.android.tpush.rpc.XGRemoteService"
            android:exported="true" >
            <intent-filter>
                 <!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
                <action android:name="com.yxkj.jyb.PUSH_ACTION" />
            </intent-filter>
        </service>

        <!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            android:value="2100153874" />
        <!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            android:value="AF63JWK495QG" />
		<!-- 【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】 -->
		
		
        <!-- 请将value改为MTA分配的appkey，如果是开平、互联、广点通用户，请直接填写为Aqc+开平appid，如：Aqc123456< -->
        <meta-data
            android:name="TA_APPKEY"
            android:value="AX9BPXT4W91D" />
        <!-- 请将value改为app发布的市场名称，如在应用宝就写：应用宝、play写play<
        	应用宝
        	360
        	百度
        	小米
        	豌豆荚	

        	其它
         -->
        <meta-data
            android:name="InstallChannel"
            android:value="其它" />		
		
		
    </application>

	<!-- 【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】【信鸽开始】 -->
    <!-- 【必须】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
	<!-- 【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】【信鸽结束】 -->

	<!-- 万象优图SDK额外所需权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	
	<!-- 相机所需权限 -->
    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-feature android:name = "android.hardware.camera" />
    <uses-feature android:name = "android.hardware.camera.autofocus" />
    
    <!-- WNS所需权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	
</manifest>